In [5]:
import pandas as pd
import numpy as np
data=pd.read_csv('./match_data.csv')
data.head(10)

,Unnamed: 0,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
5,5,335987,Jaipur,2008-04-21,SR Watson,Sawai Mansingh Stadium,0,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets,6.0,N,NaN,Aleem Dar,RB Tiffin
6,6,335988,Hyderabad,2008-04-22,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",0,Sunrisers Hyderabad,Delhi Capitals,Sunrisers Hyderabad,bat,Delhi Capitals,wickets,9.0,N,NaN,IL Howell,AM Saheba
7,7,335989,Chennai,2008-04-23,ML Hayden,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,6.0,N,NaN,DJ Harper,GA Pratapkumar
8,8,335990,Hyderabad,2008-04-24,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",0,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,N,NaN,Asad Rauf,MR Benson
9,9,335991,Chandigarh,2008-04-25,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,Kings XI Punjab,runs,66.0,N,NaN,Aleem Dar,AM Saheba

In [6]:
no_of_match_as_team1=data.groupby('team1').size().reset_index(name="no_of_match_as_team1")
no_of_match_as_team1=no_of_match_as_team1.rename(columns={"team1":"team_name"})
no_of_match_as_team1

                      team_name  no_of_match_as_team1
0           Chennai Super Kings                    94
1                Delhi Capitals                   102
2                 Gujarat Lions                    16
3               Kings XI Punjab                    92
4          Kochi Tuskers Kerala                     7
5         Kolkata Knight Riders                    95
6                Mumbai Indians                    97
7              Rajasthan Royals                    70
8        Rising Pune Supergiant                    37
9   Royal Challengers Bangalore                   108
10          Sunrisers Hyderabad                    98

In [7]:
no_of_match_as_team2=data.groupby('team2').size().reset_index(name="no_of_match_as_team2")
no_of_match_as_team2=no_of_match_as_team2.rename(columns={"team2":"team_name"})
no_of_match_as_team2

                      team_name  no_of_match_as_team2
0           Chennai Super Kings                    84
1                Delhi Capitals                    92
2                 Gujarat Lions                    14
3               Kings XI Punjab                    98
4          Kochi Tuskers Kerala                     7
5         Kolkata Knight Riders                    97
6                Mumbai Indians                   106
7              Rajasthan Royals                    91
8        Rising Pune Supergiant                    39
9   Royal Challengers Bangalore                    87
10          Sunrisers Hyderabad                   101

In [8]:
no_of_matches=pd.merge(no_of_match_as_team1,no_of_match_as_team2,on="team_name")
no_of_matches

                      team_name  no_of_match_as_team1  no_of_match_as_team2
0           Chennai Super Kings                    94                    84
1                Delhi Capitals                   102                    92
2                 Gujarat Lions                    16                    14
3               Kings XI Punjab                    92                    98
4          Kochi Tuskers Kerala                     7                     7
5         Kolkata Knight Riders                    95                    97
6                Mumbai Indians                    97                   106
7              Rajasthan Royals                    70                    91
8        Rising Pune Supergiant                    37                    39
9   Royal Challengers Bangalore                   108                    87
10          Sunrisers Hyderabad                    98                   101

In [9]:
no_of_matches['total_no_of_matches_played']=no_of_matches['no_of_match_as_team1']+no_of_matches['no_of_match_as_team2']
no_of_matches

,team_name,no_of_match_as_team1,no_of_match_as_team2,total_no_of_matches_played
0,Chennai Super Kings,94,84,178
1,Delhi Capitals,102,92,194
2,Gujarat Lions,16,14,30
3,Kings XI Punjab,92,98,190
4,Kochi Tuskers Kerala,7,7,14
5,Kolkata Knight Riders,95,97,192
6,Mumbai Indians,97,106,203
7,Rajasthan Royals,70,91,161
8,Rising Pune Supergiant,37,39,76
9,Royal Challengers Bangalore,108,87,195
10,Sunrisers Hyderabad,98,101,199

In [10]:
no_of_wins=data.groupby('winner').size().reset_index(name="no_of_wins")
no_of_wins=no_of_wins.rename(columns={'winner':'team_name'})
no_of_wins

                      team_name  no_of_wins
0           Chennai Super Kings         106
1                Delhi Capitals          86
2                 Gujarat Lions          13
3               Kings XI Punjab          88
4          Kochi Tuskers Kerala           6
5         Kolkata Knight Riders          99
6                Mumbai Indians         120
7              Rajasthan Royals          81
8        Rising Pune Supergiant          27
9   Royal Challengers Bangalore          91
10          Sunrisers Hyderabad          95

In [11]:
teams_df=pd.merge(no_of_matches,no_of_wins,on='team_name')
teams_df

,team_name,no_of_match_as_team1,no_of_match_as_team2,total_no_of_matches_played,no_of_wins
0,Chennai Super Kings,94,84,178,106
1,Delhi Capitals,102,92,194,86
2,Gujarat Lions,16,14,30,13
3,Kings XI Punjab,92,98,190,88
4,Kochi Tuskers Kerala,7,7,14,6
5,Kolkata Knight Riders,95,97,192,99
6,Mumbai Indians,97,106,203,120
7,Rajasthan Royals,70,91,161,81
8,Rising Pune Supergiant,37,39,76,27
9,Royal Challengers Bangalore,108,87,195,91
10,Sunrisers Hyderabad,98,101,199,95

In [12]:
teams_df['%win']=(teams_df['no_of_wins']/teams_df['total_no_of_matches_played'])*100
teams_df

,team_name,no_of_match_as_team1,no_of_match_as_team2,total_no_of_matches_played,no_of_wins,%win
0,Chennai Super Kings,94,84,178,106,59.550562
1,Delhi Capitals,102,92,194,86,44.329897
2,Gujarat Lions,16,14,30,13,43.333333
3,Kings XI Punjab,92,98,190,88,46.315789
4,Kochi Tuskers Kerala,7,7,14,6,42.857143
5,Kolkata Knight Riders,95,97,192,99,51.562500
6,Mumbai Indians,97,106,203,120,59.113300
7,Rajasthan Royals,70,91,161,81,50.310559
8,Rising Pune Supergiant,37,39,76,27,35.526316
9,Royal Challengers Bangalore,108,87,195,91,46.666667
10,Sunrisers Hyderabad,98,101,199,95,47.738693

In [13]:
matches_tie_data=data[data['result']=='tie']
matches_tie_data

,Unnamed: 0,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
66,66,392190,Cape Town,2009-04-23,YK Pathan,Newlands,1,Kolkata Knight Riders,Rajasthan Royals,Kolkata Knight Riders,field,Rajasthan Royals,tie,NaN,Y,NaN,MR Benson,M Erasmus
130,130,419121,Chennai,2010-03-21,J Theron,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,field,Kings XI Punjab,tie,NaN,Y,NaN,K Hariharan,DJ Harper
328,328,598004,Hyderabad,2013-04-07,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",0,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,Sunrisers Hyderabad,tie,NaN,Y,NaN,AK Chaudhary,S Ravi
341,341,598017,Bangalore,2013-04-16,V Kohli,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,M Erasmus,VA Kulkarni
416,416,729315,Abu Dhabi,2014-04-29,JP Faulkner,Sheikh Zayed Stadium,1,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,bat,Rajasthan Royals,tie,NaN,Y,NaN,Aleem Dar,AK Chaudhary
476,476,829741,Dubai,2015-04-21,SE Marsh,"Sardar Patel Stadium, Motera",0,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,tie,NaN,Y,NaN,M Erasmus,S Ravi
610,610,1082625,Rajkot,2017-04-29,KH Pandya,Saurashtra Cricket Association Stadium,0,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,Mumbai Indians,tie,NaN,Y,NaN,AK Chaudhary,CB Gaffaney
705,705,1175365,Delhi,2019-03-30,PP Shaw,Feroz Shah Kotla,0,Delhi Capitals,Kolkata Knight Riders,Delhi Capitals,field,Delhi Capitals,tie,NaN,Y,NaN,AY Dandekar,Nitin Menon
746,746,1178426,Mumbai,2019-05-02,JJ Bumrah,Wankhede Stadium,0,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,Mumbai Indians,tie,NaN,Y,NaN,CK Nandan,S Ravi
757,757,1216493,Dubai,2020-09-20,MP Stoinis,Dubai International Cricket Stadium,0,Delhi Capitals,Kings XI Punjab,Kings XI Punjab,field,Delhi Capitals,tie,NaN,Y,NaN,AK Chaudhary,Nitin Menon
776,776,1216512,Abu Dhabi,2020-10-18,LH Ferguson,Sheikh Zayed Stadium,0,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Kolkata Knight Riders,tie,NaN,Y,NaN,PG Pathak,S Ravi
781,781,1216517,Dubai,2020-10-18,KL Rahul,Dubai International Cricket Stadium,0,Mumbai Indians,Kings XI Punjab,Mumbai Indians,bat,Kings XI Punjab,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
811,811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel

In [14]:
win_by_defending=data[data['result']=='runs'].groupby('winner').size().reset_index(name="wins_defend")
win_by_defending=win_by_defending.rename(columns={'winner':'team_name'})
win_by_defending

                      team_name  wins_defend
0           Chennai Super Kings           53
1                Delhi Capitals           34
2                 Gujarat Lions            1
3               Kings XI Punjab           40
4          Kochi Tuskers Kerala            2
5         Kolkata Knight Riders           41
6                Mumbai Indians           62
7              Rajasthan Royals           28
8        Rising Pune Supergiant           13
9   Royal Challengers Bangalore           38
10          Sunrisers Hyderabad           52

In [15]:
win_by_chase=data[data['result']=='wickets'].groupby('winner').size().reset_index(name="wins_chase")
win_by_chase=win_by_chase.rename(columns={'winner':'team_name'})
win_by_chase

                      team_name  wins_chase
0           Chennai Super Kings          53
1                Delhi Capitals          50
2                 Gujarat Lions          12
3               Kings XI Punjab          45
4          Kochi Tuskers Kerala           4
5         Kolkata Knight Riders          57
6                Mumbai Indians          56
7              Rajasthan Royals          51
8        Rising Pune Supergiant          14
9   Royal Challengers Bangalore          51
10          Sunrisers Hyderabad          42

In [16]:
team_df=pd.merge(teams_df,win_by_chase,on="team_name")
team_df=pd.merge(team_df,win_by_defending,on="team_name")
team_df

,team_name,no_of_match_as_team1,no_of_match_as_team2,total_no_of_matches_played,no_of_wins,%win,wins_chase,wins_defend
0,Chennai Super Kings,94,84,178,106,59.550562,53,53
1,Delhi Capitals,102,92,194,86,44.329897,50,34
2,Gujarat Lions,16,14,30,13,43.333333,12,1
3,Kings XI Punjab,92,98,190,88,46.315789,45,40
4,Kochi Tuskers Kerala,7,7,14,6,42.857143,4,2
5,Kolkata Knight Riders,95,97,192,99,51.562500,57,41
6,Mumbai Indians,97,106,203,120,59.113300,56,62
7,Rajasthan Royals,70,91,161,81,50.310559,51,28
8,Rising Pune Supergiant,37,39,76,27,35.526316,14,13
9,Royal Challengers Bangalore,108,87,195,91,46.666667,51,38
10,Sunrisers Hyderabad,98,101,199,95,47.738693,42,52

In [17]:
del team_df['no_of_match_as_team1']
team_df

,team_name,no_of_match_as_team2,total_no_of_matches_played,no_of_wins,%win,wins_chase,wins_defend
0,Chennai Super Kings,84,178,106,59.550562,53,53
1,Delhi Capitals,92,194,86,44.329897,50,34
2,Gujarat Lions,14,30,13,43.333333,12,1
3,Kings XI Punjab,98,190,88,46.315789,45,40
4,Kochi Tuskers Kerala,7,14,6,42.857143,4,2
5,Kolkata Knight Riders,97,192,99,51.562500,57,41
6,Mumbai Indians,106,203,120,59.113300,56,62
7,Rajasthan Royals,91,161,81,50.310559,51,28
8,Rising Pune Supergiant,39,76,27,35.526316,14,13
9,Royal Challengers Bangalore,87,195,91,46.666667,51,38
10,Sunrisers Hyderabad,101,199,95,47.738693,42,52

In [18]:
del team_df['no_of_match_as_team2']
team_df

,team_name,total_no_of_matches_played,no_of_wins,%win,wins_chase,wins_defend
0,Chennai Super Kings,178,106,59.550562,53,53
1,Delhi Capitals,194,86,44.329897,50,34
2,Gujarat Lions,30,13,43.333333,12,1
3,Kings XI Punjab,190,88,46.315789,45,40
4,Kochi Tuskers Kerala,14,6,42.857143,4,2
5,Kolkata Knight Riders,192,99,51.562500,57,41
6,Mumbai Indians,203,120,59.113300,56,62
7,Rajasthan Royals,161,81,50.310559,51,28
8,Rising Pune Supergiant,76,27,35.526316,14,13
9,Royal Challengers Bangalore,195,91,46.666667,51,38
10,Sunrisers Hyderabad,199,95,47.738693,42,52

In [19]:
team_df['%win_chase']=(team_df['wins_chase']/team_df['no_of_wins'])*100
team_df

,team_name,total_no_of_matches_played,no_of_wins,%win,wins_chase,wins_defend,%win_chase
0,Chennai Super Kings,178,106,59.550562,53,53,50.000000
1,Delhi Capitals,194,86,44.329897,50,34,58.139535
2,Gujarat Lions,30,13,43.333333,12,1,92.307692
3,Kings XI Punjab,190,88,46.315789,45,40,51.136364
4,Kochi Tuskers Kerala,14,6,42.857143,4,2,66.666667
5,Kolkata Knight Riders,192,99,51.562500,57,41,57.575758
6,Mumbai Indians,203,120,59.113300,56,62,46.666667
7,Rajasthan Royals,161,81,50.310559,51,28,62.962963
8,Rising Pune Supergiant,76,27,35.526316,14,13,51.851852
9,Royal Challengers Bangalore,195,91,46.666667,51,38,56.043956
10,Sunrisers Hyderabad,199,95,47.738693,42,52,44.210526

In [20]:
team_df['%win_defend']=(team_df['wins_defend']/team_df['no_of_wins'])*100
team_df

,team_name,total_no_of_matches_played,no_of_wins,%win,wins_chase,wins_defend,%win_chase,%win_defend
0,Chennai Super Kings,178,106,59.550562,53,53,50.000000,50.000000
1,Delhi Capitals,194,86,44.329897,50,34,58.139535,39.534884
2,Gujarat Lions,30,13,43.333333,12,1,92.307692,7.692308
3,Kings XI Punjab,190,88,46.315789,45,40,51.136364,45.454545
4,Kochi Tuskers Kerala,14,6,42.857143,4,2,66.666667,33.333333
5,Kolkata Knight Riders,192,99,51.562500,57,41,57.575758,41.414141
6,Mumbai Indians,203,120,59.113300,56,62,46.666667,51.666667
7,Rajasthan Royals,161,81,50.310559,51,28,62.962963,34.567901
8,Rising Pune Supergiant,76,27,35.526316,14,13,51.851852,48.148148
9,Royal Challengers Bangalore,195,91,46.666667,51,38,56.043956,41.758242
10,Sunrisers Hyderabad,199,95,47.738693,42,52,44.210526,54.736842

In [21]:
del team_df['wins_chase']
del team_df['wins_defend']
team_df

,team_name,total_no_of_matches_played,no_of_wins,%win,%win_chase,%win_defend
0,Chennai Super Kings,178,106,59.550562,50.000000,50.000000
1,Delhi Capitals,194,86,44.329897,58.139535,39.534884
2,Gujarat Lions,30,13,43.333333,92.307692,7.692308
3,Kings XI Punjab,190,88,46.315789,51.136364,45.454545
4,Kochi Tuskers Kerala,14,6,42.857143,66.666667,33.333333
5,Kolkata Knight Riders,192,99,51.562500,57.575758,41.414141
6,Mumbai Indians,203,120,59.113300,46.666667,51.666667
7,Rajasthan Royals,161,81,50.310559,62.962963,34.567901
8,Rising Pune Supergiant,76,27,35.526316,51.851852,48.148148
9,Royal Challengers Bangalore,195,91,46.666667,56.043956,41.758242
10,Sunrisers Hyderabad,199,95,47.738693,44.210526,54.736842

In [22]:
data_citiy=pd.DataFrame(data.groupby('city'))
homegrounds={'Kolkata':'Kolkata Knight Riders','Bangalore':'Royal Challengers Bangalore','Bengaluru':'Royal Challengers Bangalore',
            'Chandigarh':'Kings XI Punjab','Chennai':'Chennai Super Kings','Delhi':'Delhi Capitals','Hyderabad':'Sunrisers Hyderabad',
            'Jaipur':'Rajasthan Royals','Rajkot':'Gujarat Lions','Kochi':'Kochi Tuskers Kerala','Kanpur':'Gujarat Lions',
            'Visakhapatnam':'Rising Pune Supergiant','Pune':'Rising Pune Supergiant','Cuttack':'Sunrisers Hyderabad',
            'Dharamshala':'Kings XI Punjab','Ahmedabad':'Rajasthan Royals','Mohali':'Kings XI Punjab','Mumbai':'Mumbai Indians'}

In [23]:
data_without_neutral=data[data['neutral_venue']!=1]
data_without_neutral=data_without_neutral[data_without_neutral['city']!='Dubai']
data_without_neutral['home_venue']=data_without_neutral['city'].map(homegrounds)
data_without_neutral

,Unnamed: 0,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,home_venue
0,0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,Royal Challengers Bangalore
1,1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri,Kings XI Punjab
2,2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar,Delhi Capitals
3,3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper,Mumbai Indians
4,4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan,Kolkata Knight Riders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804,804,1216540,Sharjah,2020-10-12,AB de Villiers,Sharjah Cricket Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,82.0,N,NaN,RK Illingworth,K Srinivasan,NaN
805,805,1216541,Abu Dhabi,2020-10-25,BA Stokes,Sheikh Zayed Stadium,0,Mumbai Indians,Rajasthan Royals,Mumbai Indians,bat,Rajasthan Royals,wickets,8.0,N,NaN,UV Gandhe,VK Sharma,NaN
809,809,1216545,Abu Dhabi,2020-09-26,Shubman Gill,Sheikh Zayed Stadium,0,Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,7.0,N,NaN,CB Gaffaney,VK Sharma,NaN
813,813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi,NaN
814,814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi,NaN

In [36]:
no_of_match_in_homeground=data_without_neutral.groupby('home_venue')
no_of_wins_in_home=no_of_match_in_homeground[no_of_match_in_homeground['winner']==no_of_match_in_homeground['home_venue']]
no_of_wins_in_home

KeyError: 'Column not found: False'

In [22]:
no_of_match_in_homeground['homw_wins']=